/* common shared styles */
body {
    font-family: 'Open Sans', sans-serif;
}

/* header related styles */
.header {
    background-color: #E554731A;
}

.banner {
    padding: 240px 900px 442px 240px;
}

.banner-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    display: flex;
    width: 800px;
    flex-direction: column;
    flex-shrink: 0;
}
.banner-description{
    color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-weight: 400;
line-height: 30px;
width: 634px;
height: 90px;

}

.btn-primary {
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    border: none;
}